.main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

body{
    overflow-y: hidden;
}

.navigation{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navItem{
    flex: 1;
    transition: all 0.3s ease;
    height: 20vh;
    z-index: 100;
}

.navItem:hover{
    background-color: rgba(0, 0, 0, 0.5);
    flex: 2;
    transform: translateY(-20px);
    height: calc(20vh + 20px);
}

button{
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}

.content{
    height: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Home{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Home:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Projects{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Projects:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Education{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Education:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Skills{
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Skills:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.primary{
    font-size: 50px;
    font-weight: bolder;
}

p{
    font-size: 30px;
    margin: 0px;
}

p.textcontent{
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    font-size: 20px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url('Assets/Personal\ Website\ Background.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}

.ProjectsPage{
    position: fixed;
    top:100vh;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color:#19327b;
    transition: all 0.3s ease;
}

#topLeftTop{
    background-color: rgb(255,255,255);
    height: 5px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}

#topLeftLeft{
    background-color: rgb(255,255,255);
    height: 100px;
    width: 5px;
    position: absolute;
    top: 100px;
    left: 100px;
}

#topRightTop{
    background-color: rgb(255,255,255);
    height: 5px;
    width: 100px;
    position: absolute;
    top: 100px;
    right: 100px;
}

#topRightRight{
    background-color: rgb(255,255,255);
    height: 100px;
    width: 5px;
    position: absolute;
    top: 100px;
    right: 100px;
}

#bottomLeftBottom{
    background-color: rgb(255,255,255);
    height: 5px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

#bottomLeftLeft{
    background-color: rgb(255,255,255);
    height: 100px;
    width: 5px;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

#bottomRightBottom{
    background-color: rgb(255,255,255);
    height: 5px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

#bottomRightRight{
    background-color: rgb(255,255,255);
    height: 100px;
    width: 5px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.Title p{
    font-family: "Bodoni Moda SC", serif;
    font-weight: bold;
    color: white;
    font-size: 10vh;
    top: 120px;
    left: 150px;
    position: absolute;
}

.projectSpace{
    position: absolute;
    top: 300px;
    bottom: 300px;
    left: 150px;
    right: 150px;
    display: flex;
}

.project{
    flex: 1;
    margin: 10px;
    border-radius: 10px;
    border: 3px dashed white;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project:hover{
    background-color: rgba(0,0,0,0.5);
}

.projectTitle{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
}

.projectDescription{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#calendarIcon{
    filter: invert(100%);
    height: 40px;
    width: 40px;
    margin-right: 20px;
    transform: translateY(5px);
}

#agileIcon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    transform: translateY(5px);
    mix-blend-mode: lighten;
}

ul{
    list-style-type:circle;
    padding-left: 10px;
    margin: 20px;
}

li{
    font-size: 20px;
    margin: 10px;
}