.main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navItem{
    width: 100%;
    height: 100%;
}

button{
    width: 100%;
    height: 100%;
    margin: 0px;

}

.content{
    height: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Home{
    background-color: rgba(100, 0, 0, 1);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
}

button.Home:hover{
    background-color: rgba(255, 100, 100, 1);
}

button.Projects{
    background-color: rgba(0, 100, 0, 1);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
}

button.Projects:hover{
    background-color: rgba(100, 200, 100, 1);
}

button.Education{
    background-color: rgba(0, 0, 100, 1);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
}

button.Education:hover{
    background-color: rgba(100, 100, 200, 1);
}

button.Skills{
    background-color: rgb(200, 200, 0);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
}

button.Skills:hover{
    background-color: rgba(255, 255, 0, 1);
}

.primary{
    font-size: 50px;
    font-weight: bolder;
}

p{
    font-size: 30px;
    margin: 0px;
}

p.textcontent{
    margin-top: 20px;
    font-size: 20px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url('Assets/Personal\ Website\ Background.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}