.main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navItem{
    flex: 1;
    transition: all 0.3s ease;
    height: 20vh;
    z-index: 100;
}

.navItem:hover{
    background-color: rgba(0, 0, 0, 0.5);
    flex: 2;
    transform: translateY(-20px);
    height: calc(20vh + 20px);
}

button{
    width: 100%;
    height: 100%;
    margin: 0px;

}

.content{
    height: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Home{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Home:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Projects{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Projects:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Education{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Education:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

button.Skills{
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    z-index: 100;
}

button.Skills:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.primary{
    font-size: 50px;
    font-weight: bolder;
}

p{
    font-size: 30px;
    margin: 0px;
}

p.textcontent{
    margin-top: 20px;
    font-size: 20px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url('Assets/Personal\ Website\ Background.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}

.ProjectsPage{
    position: fixed;
    top:100vh;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-image: url('Assets/Projects\ Wallpaper.jpg');
    transition: all 0.5s ease;
}